@model IEnumerable<User>
@{ Layout = "_Layout"; ViewBag.Title = "All Users";}



<h2>All Reservations</h2>
<a asp-action="AddUser" class="btn btn-sm btn-primary">Add User</a>
<a asp-action="GetUser" class="btn btn-sm btn-secondary">Get User</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model != null) {
            foreach (var r in Model)
            {
            <tr>
                <td>@r.UserId</td>
                <td>@r.UserName</td>
                <td>@r.EmailAddress</td>
                <td>@r.FirstName</td>
                <td>@r.LastName</td>
                <td>
                    <a asp-action="UpdateUser" asp-route-id="@r.UserId">4
                        <img src="/icon/edit.png" />
                    </a>
                </td>
                <td>
                    <form asp-action="DeleteUser" method="post">
                        <input type="hidden" value="@r.UserId" name="UserId" />
                        <input type="image" src="/icon/close.png" />
                    </form>
                </td>
            </tr>
            }
        }
    </tbody>
</table>